:root {
  --primary-color: #f5f5f5; 
  --secondary-color: #f4a261; 
  --accent1-color: #264653; 
  --accent2-color: #e9c46a; 
  --heading-font: serif;
  --body-font: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(5, 25%);
}

.header nav {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header, nav{
    color: var(--primary-color); /* text color for nav links */
    text-decoration: none;
    font-weight: 600;
    padding: 6px 8px;
    border-radius: 4px;
}

nav a{
    color: var(--primary-color); /* text color for nav links */
    text-decoration: none;
    font-weight: 600;
    padding: 6px 8px;
    border-radius: 4px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    margin: 20px 40px;
    display: flex;
    justify-content: center;
}

/* About us page style*/
nav, p, article {
    margin: 16px;
    padding: 8px;
}

footer {
    background-color: var(--accent1-color);
    color: #fff;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}

.history h2 {
    display: grid;
    grid-column: 1 / 4;
    width: 840px;
    margin-top: 10px;
}

.history {
    display: grid;
    grid-template-columns: 34% 33% 34%;
    grid-template-rows: 10% 40%;
}
.history img {
    width: 40%;
    max-width: 250px;
    height: auto;
    display: block;
    margin-top: 20px;
}

.adventure img {
    width: 50px;
    height: auto;
    max-width: 100px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(6, 20%);
    grid-template-rows: 20% 60%;
}
.adventure h2 {
    display: grid;
    grid-column: 1 / 7;
    width: 840px;
    height: auto;
    padding-bottom: 15px;
    margin: 0;
}

nav.socialmedia {
   display: flex;
   justify-content: space-between; 
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    margin-top: 10px;
    width: 840px;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    margin-left: 0;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    background-color: #264653;
    padding: 3px;
    width: 100%;
    margin: -120px 0;
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}
h3 {
    font-weight: lighter;
    margin: 10px 10px;
    display: flex;
    justify-self: center;
}

/* Home page style*/    
    .homeform {
        background-color: #264653;
        color: #fff;
        display: grid;
        grid-template-rows: 40px 30px 30px;
        grid-template-columns: 10% 40% 40%;
        margin: 10px 0;
        padding: 10px 10px;
    }
    .homeform b {
        grid-column: 1 / 4;
        align-self: center;
        font-weight: bold;
        font-size: larger;
    }
    
    .homeform label{
        grid-column: 1;
        align-self: center;
    }
    
    .homeform p {
        grid-column: 3;
        grid-row: 2;
        align-self: center;
        justify-self: center;
    }
    
    .homeform a {
        grid-column: 3;
        grid-row: 3;
        justify-self: center;
        align-self: center;
        color: #fff;
        text-decoration: none;
    }
    
    .home-purpose {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 225px 1fr 1fr;
        gap: 2px;
    }
    
    .home-purpose img{
        width: 200px;
        height: auto;
        grid-column: 1;
    }
    #home-purpose1 {
        grid-column: 2;
        grid-row: 1 / 3;
        padding: 0;
    }
    #home-purpose2 {
        grid-column: 3;
        grid-row: 1 / 3;
        padding: 0;
    }

    #homebutton {
        width: 150px;
        padding: 5px 0;
        margin-left: 260px;
        margin-top: 5px;
    }

/* Contact us page style */
    .company p{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    iframe {
        display: grid;
        justify-content: flex-start;
        width: 400px;
        height: 400px;
        grid-row: span 3;
        
    }
    
    .userinfo {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(2, 35px);
        margin-bottom: 20px;
    
    }
    
    .userinfo label {
        align-content: center;
    }
    
    #name,
    #useremail {
        border-radius: 5px;
        border: 1px solid;
        margin: 2px 0;
    }
    
    .userpurpose {
        border: none;
        display: grid;
        grid-template-columns: 200px 50px 100px;
        grid-template-rows: repeat(3, 40px);
        gap: 8px;
        justify-items: start;
    }
    .userpurpose input[type="radio"] {
        grid-column: 2;
    }
    .userpurpose label {
        grid-column: 3;
    }
    
    div .usermessage {
        display: grid;
        grid-template-columns: 5% 95%;
        grid-template-rows: 30px 50px 30px 30px;
        margin-bottom: -10px;
    }
    
    .usermessage label {
        grid-column: span 3;
        align-self: center;
        justify-self: start;
    }
    
    #message {
        grid-column-end: span 3;
        border-radius: 5px;
    }
    
    input[type="checkbox"] {
        width: 20px;
        height: auto;
        border-radius: 4px;
        margin: 0;
        display: grid;
        justify-self: center;
        align-self: center;
    }
    
    #messagelabel {
        grid-column: 2;
        align-self: center;
        justify-self: flex-start;
    }
    
    form {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 180px 180px;
    }
    
    button {
        border-radius: 5px;
        border: 1px solid #000;
        grid-column-end: span 3;
        grid-row: 4;
    }
    
    .employees {
        border: 2.5px solid #000;
        background-color: #c5c5c5;
        margin: 20px 0;
        padding: 40px 0;
        justify-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30% 90%;
    }
    
    #employee {
        color: #111;
        display: grid;
        grid-column: span 4;
        align-self: center;
    }
    
    .employees img {
        width: 150px;
        height: auto;
        max-width: 200px;
    }
    
    figcaption {
        color: #000;
    }

/* Trips page style*/


.trip-description {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 30px 100px 110px;
}
.trip-description h3 {
    grid-column: 1 / 3;
}
.trip-description img {
    width: 150px;
    height: auto;
    margin-bottom: 2px;
}

.trip-description p {
    display: flex;
    margin: 0;
}

#ideal-trip {
    font-weight: bold;
    font-size: larger;
    margin: 10px 0;
    text-align: center;
}

.info-trips {
    display: grid;
    grid-template-columns: 675px 200px;
    margin-left: -20px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    letter-spacing: 1px;
    margin: 30px;
    justify-self: center;
}

caption {
    padding: 10px;
    font-weight: bold;
}

thead {
    background-color: rgb(160, 216, 216);
}

th,
td {
    border: 1px solid rgb(160, 160, 160);
    padding: 15px 15px;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237, 238, 242);
}

.refcontact {
    background-color: #264653;
    color: #fff;
    margin: 75px 20px 350px 0;
    padding: 80px 10px;
    justify-content: center;
}

.refcontact h3 {
    text-align: center;
    padding-top: 10px;
    order: 2;
}
.refcontact a {
    text-decoration: none;
    color: #264653;
    background-color: azure;
    padding: 8px;
    margin: 15px;
    border-radius: 10px;
}